# Ignore VSCode and Rider
/.vs/
/.vscode/
/.idea/
# Ignore build output folders
/Debug/
/Release/
/x64/
/x86/
/ARM/
/ARM64/
/FileParser/
# Ignore Cmake
/bin/
/build/
/CMakeFiles/
/Makefile
/CMakeCache.txt
/cmake_install.cmake
# Test Images
/test-images